/* Typography and Colors */

:root {
    --font-primary: Satisfy;
    --font-secondary: Lato;
    
    --clr-light: #FEF7DC;
    --clr-dark: #A19882;
    --clr-accent: #E6DDC6;
}

/* INTRO SECTION */

