:root {

    --ff-primary: Source Sans Pro;
    --ff-secondary: Libre Baskerville;

    --clr-light: #DCD7C9;
    --clr-accent: #A27B5C;
    --clr-dark: #3F4E4F;
}

/* Header */

.header {
    background-color: var(--clr-dark);
}

.logo-img {
    height: 50px;
    width: 50px;
    padding-left: 10%;
}

.nav {
    float: right;
    padding-right: 10%;
    
    
}

.link-one, .link-two, .link-three {
    font-family: var(--ff-primary);
    font-size: 1.25rem;
    color: var(--clr-light);
    text-decoration: none;
}

/* Intro Section */


.intro {
    height: 20em;
}

.intro-img {
    height: 200px;
    width: 400px;
    float: right;
    padding-right: 10%;
    padding-bottom: 2%;
}

.intro-title {
    font-family: var(--ff-secondary);
}

.intro-paragraph {
    font-family: var(--ff-primary);
}



