
:root {

    --ff-primary: Source Sans Pro;
    --ff-secondary: Libre Baskerville;

    --clr-light: #DCD7C9;
    --clr-accent: #A27B5C;
    --clr-dark: #3F4E4F;
}

body {
    margin: 0 auto;
    padding: 0;
}


h1, p{
    line-height: 1.8;
    margin: 0;
}



/* Header */

.header {
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-around;
}

.logo-img {
    height: 50px;
    width: 50px;
    position: relative;
    right: 6%;
}

.nav {
    position: relative;
    left: 6%
}

.link-one, .link-two, .link-three {
    font-family: var(--ff-primary);
    font-size: 1.25rem;
    color: var(--clr-light);
    text-decoration: none;
}

/* Intro Section */

.intro {
    display: flex;
    justify-content: space-evenly;
    height: 20em;
    padding-top: 10%;
    background-color: var(--clr-dark);
}



.intro-title {
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    font-size: 3rem;
}

.intro-paragraph {
    font-family: var(--ff-primary);
    color: var(--clr-light);
    font-size: 1.5rem;
}


.img-intro {
    height: 200px;
    width: 400px;
}

.btn {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: 1rem;
    border-style: none;
    display: inline-block;
    padding: .5em 1.5em;
    letter-spacing: 1.5px;   
    cursor: pointer; 
}




/* About Us Section */

.aboutus-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20em;
}



.aboutus-title {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.5rem;
}

.img-one, .img-two, .img-three, .img-four {
    width: 100px;
    height: 100px;
    border: 4px solid var(--clr-dark);
}

.no-one__text, .no-two__text, .no-three__text, .no-four__text {
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 1.2rem;
}


/* Mission */

.mission {
    background-color: var(--clr-accent);
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mission-paragraph {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    max-width: 600px;
    text-align: left;
}

.mission-quote {
    font-family: var(--ff-primary);
    font-size: 2rem;
    position: relative;
    top: 120px;
    right: 50px;
}








